@import './constants';

@font-face { font-family: Roboto; src: url('../assets/fonts/Roboto-Light.ttf'); } 

body {
  font-family: 'Roboto';
  font-size: 15px;
}

h3 {
  margin-left: 30px;
}

.row {
  display: flex;
  margin: 12px 0 5px 20px;
  align-items: center;
}

.label-container {
  width: $labelWidth;
  text-align: right;
  margin-right: 25px;
  margin-top: 5px;
}

.input-field-container {
  width: 300px;
  &.indented {
    margin: -10px 0 10px 0;
  }
}

.buttons-container {
  margin: 20px 0 50px 211px;
}